.Rproj.user
.Rhistory
.RData
.Ruserdata
*.icloud
/.quarto/
*_cache/

.DS_Store/Users/corycutsail/Library/Group Containers/group.com.apple.notes/tmp/HardLinkURLTemp/D53893A1-E600-402C-ABCF-881A3CE7B69E/1667935650/!.png